@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>ACME holds our customers private information in high regard.</p>
<p>Thus we will only ever sell your information to the highest bidder.</p>
